<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Temperature.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>130A47461AEE579E00420A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>130A475B1AEE579E00420A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13A9AD8C1B66731A0043D91C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
